

.interfazWeb {
    margin-top: 1%;
    margin-right: 13%;
    margin-left: 13%;
}

.imgtendagomovil {
    height: 40px;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: aqua;
    margin: auto; display: flex;
}

.productosDestacados {
    height: 200px;
    width: 100%;
    // padding: 5px;
    // border: 1px solid lightgray;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
