.imgtendagomovil {
    height: 40px;
    width: 100%;

    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.imgtendagoweb {
    height: 70px;
    width: 100%;
    margin-bottom: 1px;
    margin-right: 3%;
    padding-right: 3%;
    // padding: 5px;
    // border: 1px solid lightgray;

    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.divButtons {
    width: 64%;
    height: 100% !important;
    margin: auto;

}